rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Health check test path
    match /test/{docId} {
      allow read, write: if true;
    }

    // Isolated per-user storage
    match /users/{userId} {
      allow read, write: if request.auth != null ? request.auth.uid == userId : true;

      match /{subcollection}/{docId} {
        allow read, write: if request.auth != null ? request.auth.uid == userId : true;
      }
    }
  }
}
